.titulo-secundario-productos{

    color:#773c3b;
    font-weight: bold;
    font-size: 1.1rem; 
    margin-top: 28px;
    padding: 0.5rem;   
}
.titulo-primario-productos{
    font-size: 2rem; 
    font-weight: bold;
    color: #500b0b;
}
.numero-card{
    font-weight: bold;
    font-size: 1rem;  
}
.card{
   border-radius: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
transform: translateY(-5px);
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
