<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{/fragments/template :: meta(titulo='Edición de mensajes')}"></th:block>
    <link rel="stylesheet" href="/css/contactanos.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/productos.css">

    <style>
        table > tbody {
            --bs-table-bg: #e6e1db;
            --bs-table-border-color: #F2EEB3 !important;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .table-custom {
            min-width: 900px; 
        }

        .truncate-text {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <header sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/template_intranet :: header_admin}"></header>
    <header sec:authorize="isAuthenticated() && !hasRole('ADMIN')"th:replace="~{fragments/template_cliente :: header_cliente}"></header>
    <header sec:authorize="!isAuthenticated()" th:replace="~{fragments/template :: header_publico}"></header>


    <div class="container my-5">
        <h1 class="text-center mb-4 titulo-primario-productos">Listado de Reservas</h1>
        <div class="text-right mb-3">
            <a th:href="@{/reserva/nuevo}" class="btn-custom" style="text-decoration: none;">Agregar nueva reserva</a>
        </div>

        <div class="table-responsive">
            <table class="table table-custom">
                <thead>
                    <tr>
                        <th scope="col">Reserva ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Servicio ID</th> 
                        <th scope="col">Veterinario</th>
                        <th scope="col">Cliente ID</th> 
                        <th scope="col" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody style="color: white; text-align: center;">
                    <tr th:if="${#lists.isEmpty(reservas)}">
                        <td colspan="7" class="text-center">No hay reservas disponibles.</td>
                    </tr>
                    <tr th:each="r : ${reservas}">
                        <th scope="row">[[${r.id}]]</th>
                        <td>[[${r.fecha}]]</td>
                        <td>[[${r.hora}]]</td>
                        <td>[[${r.servicio.id}]]</td>
                        <td>[[${r.veterinario}]]</td>
                        <td>[[${r.cliente.id}]]</td>
                        <td class="my-1">
                            <a th:href="@{/reserva/editar/{id}(id=${r.id})}" class="btn btn-warning">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                        </td>
                        <td class="my-1">
                            <a th:href="@{/reserva/eliminar/{id}(id=${r.id})}" class="btn btn-danger"
                                    onclick="return confirm('Seguro que deseas borrar')">
                                    <i class="bi bi-trash-fill"></i>Eliminar
                                </a>
                        </td >
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid" style="margin: 2rem; display: flex; align-items: flex-end; justify-content: flex-end; width: 82%;">
        <a th:href="@{/intranet}" class="btn-custom" style="text-decoration: none;">Regresar</a>
    </div>

    <footer th:replace="~{/fragments/template :: footer}"></footer>
    <div th:replace="~{/fragments/template :: scripts-temporal}"></div>
</body>
</html>
