<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/template :: meta(titulo='Edición de mensajes')}"></th:block>
    <link rel="stylesheet" href="/css/contactanos.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/productos.css">

</head>
<style>
    table > tbody {
        --bs-table-bg: #e6e1db;
        --bs-table-border-color: #F2EEB3 !important;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table-custom {
        min-width: 900px; 
    }

    .truncate-text {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    th,
    td {
        text-align: center;
    }
</style>

<body>
    <header>
        <nav th:replace="~{/fragments/template_reserva :: nav}"></nav>
    </header>
    <div class="container my-5">
        <h1 class="text-center mb-4 titulo-primario-productos">Listado de Servicios</h1>
        <div class="text-right mb-3">
            <a th:href="@{/servicio/nuevo}" class="btn-custom" style="text-decoration: none;">Agregar nuevo producto</a>
        </div>

        <div class="table-responsive">
            <table class="table table-custom">
                <thead>
                    <tr>
                        <th scope="col">Servicio ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody style="color: white; text-align: center;">
                    <tr th:if="${#lists.isEmpty(servicios)}">
                        <td colspan="7" class="text-center"> No hay servicios registrados actualmente</td>
                    </tr>
                    <tr th:each="s : ${servicios}">
                        <th>[[${s.id}]]</th>
                        <td>[[${s.nombre}]]</td>
                        <td class="truncate-text" title="[[${s.descripcion}]]">[[${s.descripcion}]]</td>
                        <td>[[${s.precioFormateado}]]</td>
                        <td>
                            <ul>
                                <li th:each="detalle : ${s.detalles}">[[${detalle}]]</li>
                            </ul>
                        </td>
                        <td>
                            <img class="img-thumbnail rounded float-left"
                            th:src="@{'/guardadoServicio/' + ${s.imagen}}"
                            th:alt="${s.imagen}"
                            style="width: 80px; height: auto;">
                        </td>
                        <td class="my-1">
                            <a th:href="@{/servicio/editar/{id}(id=${s.id})}" class="btn btn-warning">
                                <i class="bi bi-pencil"></i> Editar
                            </a>
                        </td>
                        <td class="my-1">
                            <a th:href="@{/servicio/eliminar/{id}(id=${s.id})}" class="btn btn-danger"
                            onclick="return confirm('¿Seguro que deseas borrar?')">
                             <i class="bi bi-trash-fill"></i> Eliminar
                         </a>
                        </td>
                      
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>

    <div class="container-fluid"
         style="margin: 2rem; display: flex; align-items: flex-end; justify-content: flex-end; width: 72%; margin-top: -1%;">
        <a th:href="@{/servicios}" class="btn-custom" style="text-decoration: none;">Regresar</a>
    </div>

    <footer th:replace="~{/fragments/template :: footer}"></footer>
    <div th:replace="~{/fragments/template :: login-modal}"></div>
    <div th:replace="~{/fragments/template :: register-modal}"></div>
    <div th:replace="~{/fragments/template :: scripts-temporal}"></div>
</body>
</html>