h4 {
    text-align: center;
    margin-top: 0;
    padding-top: 3px;
}

.mi-botoncorreo a {
    color: white !important;
}

.mi-botoncorreo a:hover {
    color: #481E1E !important;
    transition: color 0.4s ease-in-out !important;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 19px;
}

.form-contact {
    background-color: #e0c18f;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    margin: 0;
}

.form-contact input,
.form-contact textarea {
    margin-bottom: 10px;
}

.form-control {
    appearance: auto !important;
    -webkit-appearance: auto;
}

.social-icons i {
    font-size: 24px;
    margin-right: 15px;
}

.btn-custom {
    background-color: #732F2F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #481E1E;
}


.contact-info {
    padding: 1.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .contact-info .bi {
        margin-bottom: 0 !important;
    }

    .contact-info .i {
        font-size: 10px;
    }

    .form-contact {
        top: 4rem;
        position: relative;
    }



}

@media (max-width: 991px) {
    .contact-info {
        text-align: center;
        padding: 20px;
        background-color: #f8f9fa;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-info i {
        font-size: 24px;
        color: hsl(47, 9%, 38%);
    }

    .contact-info p {
        font-size: 18px;
    }

    .contact-info h5 {
        display: none;
    }

    .contact-info .bi {
        display: block;
        margin-bottom: 10px;
    }

    .contact-info p {
        margin-bottom: 20px;
    }
}