.navbar {
    height: 70px;
    background-color: #F2EEB3;
    margin-bottom: 0;
    padding: 15PX;
}

.navbar-brand {
    font-weight: 500 !important;
    color: #732F2F !important;
    font-size: 24px !important;
}

.login-button {
    background-color: #732F2F;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    margin: 3px;
    border: #732F2F;
}

.login-compras {
    background-color: #732F2F;
    color: white;
    font-size: 14.6px;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    margin: 3px;
    border: #732F2F;
    cursor: pointer;


}

.login-button:hover,
.login-compras:hover {
    background-color: #481E1E;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #732F2F !important;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: #481E1E !important;
    font-weight: 500 !important;
}

.offcanvas-title {
    font-weight: 500 !important;
    color: #732F2F !important;
    font-size: 24px !important;
}

.offcanvas-header,
.offcanvas-body {
    background-color: #F2EEB3;

}

.container-icon {
    position: relative;
}


.count-products {
    position: absolute;
    top: 55%;
    right: 14px;
    background-color: #732F2F;
    color: white;
    width: 15px;
    height: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}

.countainer-cart-products {
    position: absolute;
    top: 50px;
    background-color: white;
    width: 25rem;
    right: 0;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.20);
    border-radius: 10px;
}

.cart-product{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 14px;
    color: black;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
    color: black;
}

.cantidad-producto-carrito {
    font-weight: 500;
    font-size: 14px;
    color: black;
}

.boton-cerrar {
    color: black;
    width: 25px;
    height: 25px;
}

.boton-cerrar:hover {
    color: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 15px 0;
    color: black;
    gap: 20px;
}

.cart-total h4 {
    font-size: 15px;
    font-weight: 700;
}

.totalpagar {
    font-size: 20px;
    font-weight: 900;
}
.hidden-cart{
    display: none;
}
.cart-empty{
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 520px) {
    .countainer-cart-products {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; 
        max-width: 280px !important; 
        margin: 0 auto; 
    }
}

@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: #732F2F;
        visibility: hidden;
        transition: 0.3s ease-in-out;


    }

    .nav-link.active::after {
        font-weight: 600 !important;

    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;

    }
    
}