.estilo-cuerpo {
    background-color: #EFF2F1;

}

.tamaño-cuerpo {
    min-height: 72.3vh;
    margin-bottom: 0;
}

.seccion-derecha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-derecha>img {
    min-width: 80%;
    height: auto;

}

.seccion-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem !important;
}

.seccion-izquierda>h4 {
    padding: 1rem 3rem;
    padding-bottom: 0;

}

.seccion-izquierda>p {
    padding: 0 3rem;
    margin-top: 0;
}

.seccion-izquierda>a {
    display: inline-block;
    color: white !important;
    background: #732F2F;
    align-items: center;
    border: 1px solid transparent;
    text-decoration: none !important;
    padding: 7px;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 7px;
    text-transform: uppercase;
    transition: all .55s ease;
    text-align: center;
    margin: 0 200px;
}

.seccion-izquierda a:hover {
    background: #481E1E;
    border: 1px solid white;
    transform: translateX(8px);

}

.carousel-indicators [data-bs-target] {
    background-color: black !important;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 15; 
}

.modal-open {
    padding-right: 0 !important;
}

.nav-link.active {
    font-weight: 650;
}
.titulo{
    color: #732F2F;
}
 .colorad {
  color: #732F2F;
  font-size: 1.8rem;
}

.description {
  font-size: 1rem;
}
    .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  align-items: start;
  margin: 10px 0;
}

.btn-marron {
  background-color: #732F2F;
  color: white;
  border: none;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.btn-marron:hover {
  transform: scale(1.1);
  background-color: #732F2F;
  color: white;
}
    .left-column a,
.right-column a {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }
}
@media screen and (max-width:1281px) {
    .seccion-izquierda>a {
        margin: 0 60px;
    }
}

@media screen and (max-width:992px) {
    .orden1 {
        order: 2;
    }

    .ordenx {
        order: 1;
    }
}

@media screen and (max-width: 820px) {

    .seccion-izquierda,
    .seccion-derecha {
        min-width: 100%;
    }

    .seccion-izquierda>h1 {
        padding-top: 1rem;
    }

    .seccion-izquierda {
        padding: 0 2rem !important;
    }

    .seccion-izquierda>h4 {
        padding-top: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .seccion-izquierda>a {
        margin: 0 15px;
    }

    .seccion-izquierda>p {
        padding: 0 1rem;

    }

    
}