<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{/fragments/template :: meta(titulo='Contáctenos')}"></th:block>
    <link rel="stylesheet" href="/css/contactanos.css">
</head>

<body>
    <header sec:authorize="!isAuthenticated()" th:replace="~{fragments/template :: header_publico}"></header>
    <header sec:authorize="isAuthenticated() && !hasAuthority('ADMIN')" th:replace="~{fragments/template_cliente :: header_cliente}"></header>
    <header sec:authorize="hasAuthority('ADMIN')" th:replace="~{fragments/template_intranet :: header_admin}"></header>
    
    <div class="container contact-section">
        <h1 style="text-align: center; color: #4e4d41; font-weight: bold; font-size: 49px;">Contáctate con nosotros</h1>
        <div class="row">
            <div class="col-md-6 contact-info">
                <p style="font-size: 18px;">Para mayor información o solicitar nuestros servicios, por favor llene el formulario o envíenos un mensaje a nuestro correo.</p>
                <i class="bi bi-geo-alt-fill"></i> Dirección
                <p style="font-size: 19px;">Av. Javier Prado Este 4930, Surco, Lima</p>
                <i class="bi bi-telephone-fill"></i> Fijo
                <p style="font-size: 19px;">(01) 721-9163</p>
                <i class="bi bi-phone-fill"></i> Teléfono
                <p style="font-size: 19px;">+51 938 344 498</p>
                <i class="bi bi-envelope-fill"></i> Correo Electrónico
                <p style="font-size: 19px;">info@petlove.com</p>
                <i class="bi bi-clock-fill"></i> Horario de Atención
                <p style="font-size: 18px;">Lunes a viernes: 10:00 am a 8:00 pm<br>Sábado: 10:00 am a 6:00 pm</p>
            </div>

            <div class="col-md-6 contact-info">
                <div class="form-contact">
                    <h4 style="color: #481E1E; font-size: 34px;">Formulario de Contacto</h4>
                    <form th:object="${contacto}" th:action="@{/contactanos/guardar}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <input type="text" class="form-control" placeholder="Nombres" required th:field="*{nombre}">
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <input type="text" class="form-control" placeholder="Apellidos" required th:field="*{apellido}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Correo Electrónico" required th:field="*{correo}">
                        </div>
                        <div class="mb-3">
                            <select class="form-control" required th:field="*{servicio.id}">
                                <option th:each="servicio : ${servicios}" th:value="${servicio.id}"
                                th:text="${servicio.nombre}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" rows="4" placeholder="Mensaje" required th:field="*{mensaje}"></textarea>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-6 mb-2">
                                <button type="submit" class="btn-custom">Enviar mensaje</button>
                            </div>
                            <div class="col-6 mb-2">
                                <a class="btn-custom" th:href="@{/contactanos/edicionContactanos}" style="text-decoration: none;">Editar Mensaje</a>
                            </div>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="map-responsive">
            <iframe class="w-100" height="590"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1957.108372956848!2d-77.03878927274186!3d-12.095079138955413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7387f23a15d%3A0x55c2c2a5c30c85d1!2sAv.%20Javier%20Prado%20Este%204930%2C%20Surco%2C%20Lima!5e0!3m2!1ses!2spe!4v1685426354825!5m2!1ses!2spe"></iframe>
        </div>
    </div>

    <footer th:replace="~{/fragments/template :: footer}"></footer>
    <div th:replace="~{/fragments/template :: scripts-temporal}"></div>
</body>

</html>