<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{/fragments/template_cliente :: meta(titulo='Cliente')}"></th:block>
    <title>Página para el cliente</title>
    <link rel="stylesheet" href="/css/carritto.css">

</head>
<body>
    <header sec:authorize="!isAuthenticated()" th:replace="~{fragments/template :: header_publico}"></header>
    <header sec:authorize="isAuthenticated() && !hasRole('ADMIN')" th:replace="~{fragments/template_cliente :: header_cliente}"></header>
    <header sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/template_intranet :: header_admin}"></header>
    <h1>Bienvenido, <span th:text="${#authentication.name}"></span></h1>
    <p>Este es tu perfil de cliente.</p>
    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>
</body>

<footer th:replace="~{/fragments/template :: footer}"></footer>
<div th:replace="~{/fragments/template :: scripts-temporal}"></div>
</html>
