<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/template :: meta(titulo='Servicios')}"></th:block>
    <link rel="stylesheet" href="/css/servicios.css">
    <link rel="stylesheet" href="/css/carritto.css">

</head>

<body>
    <header sec:authorize="!isAuthenticated()" th:replace="~{fragments/template :: header_publico}"></header>
    <header sec:authorize="isAuthenticated() && !hasRole('ADMIN')" th:replace="~{fragments/template_cliente :: header_cliente}"></header>
    <header sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/template_intranet :: header_admin}"></header>
    
<h2 class="text-center titulo-primario-servicio m-4">Nuestros Servicios</h2>

<main class="container my-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" th:each="servicio : ${servicios}">
            <div class="card h-100">
                <img th:src="@{'/guardadoServicio/' + ${servicio.imagen}}" class="card-img-top" alt="Imagen del servicio">
                <h4 class="titulo-secundario-servicio" th:text="${servicio.nombre}"></h4>
                <div class="card-body">
                    <p class="card-text" th:text="${servicio.descripcion}"></p>
                    <ul>
                        <li th:each="detalle : ${servicio.detalles}" th:text="${detalle}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="teleconsulta-section">
        <div class="teleconsulta-text">
            <h1><span class="sub-title">Agenda una</span> <br> RESERVA</h1>
            <a href="contactanos" class="btn" style="background-color:rgb(147, 196, 198);">RESERVAR AHORA</a>
            
        </div>
    </div>
</main>

<footer th:replace="~{/fragments/template :: footer}"></footer>
<div th:replace="~{/fragments/template :: scripts-temporal}"></div>
</body>
</html>
